/* top-players-styles */
.top_player {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.player {
  display: flex;
  align-items: center;
}
.top_player img {
  width: 56px;
  height: 56px;
}
